* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  display: flex;
  background-color: #141318;
  overflow: hidden;
}

.menu-left {
  height: calc(100vh - 70px);
  background-color: #141318;
  width: 70px;
}

.menu-right {
  background-color: #1c1d22;
  flex: 1 1 0;
  overflow: auto;
  margin-top: 12px;
  height: calc(100vh - 78px);
  border-top-left-radius: 20px;
}

.menu-foot {
  min-height: 70px;
  background-color: #2d2d35;
}

.scroll {
  background-color: #1c1d22;
  overflow-y: auto;
}

.test-img {
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto 0 auto;
  height: 50px;
  width: 50px;
  transform: translateY(0);
}

.list-item:first-child {
  width: 50px;
  height: 50px;
  margin: 20px auto 10px auto;
}

.test-img:hover {
  transform: translateY(-7px);
  box-shadow: 1px 1px 1px 0.7px #ffff;
  transition: transform 0.3s linear, box-shadow 0.3s linear;
  border: 2px white solid;
}

.menu-top {
  min-height: 70px;
  padding: 13px 18px;
}

.menu-title {
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
}

.bi-search {
  height: 20px;
  border-radius: 50%;
  background-color: #373a43;
}

.menu-title {
  margin-bottom: 5px;
}

.search-icon {
  display: inline-block;
  margin-right: 15px;
  color: white;
  line-height: 20px;
  line-height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #373a43;
  text-align: center;
}

.btn-add-friend {
  width: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 5px 0;
  background-color: #373a43;
  border-width: 0;
  color: white;
  font-size: 18px;
}

.search-icon:hover > *,
.search-icon:hover,
.btn-add-friend:hover {
  background-color: #a4a4a4;
}

/* User messages */

.users-text {
  display: flex;
  background-color: #1c1d22;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 12px;
}

.user {
  padding: 5px 5px 5px 8px;
  margin: 10px 0;
}

.user:nth-child(2) {
  flex: 1 1 0;
}

.user:nth-child(3) {
  align-self: flex-start;
  padding-right: 12px;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.username {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.366);
}

.messaggio,
.user:nth-child(3) {
  color: rgba(255, 255, 255, 0.366);
  font-size: 13px;
}

.users-text:hover .user > span,
.users-text:hover .messaggio,
.users-text:hover .username,
.users-text:hover {
  background-color: #373a43;
  color: white;
}

/* FOOTER */

.foot-profile {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  min-height: 70px;
  color: white;
  font-size: 13px;
}

.foot-item {
  flex: 1 1 0;
}

.bi-bell-fill,
.bi-houses-fill {
  font-size: 20px;
}

.foot-item:last-child .myphoto {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
