* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
/* TOP PAGE */

.top-page {
  padding-top: 10px;
  display: flex;
  background-color: #141318;
}

/* LEFT SECTION */

.menu-left {
  height: 90vh;
  min-width: 90px;
  max-width: 100%;
  position: relative;
  background-color: #141318;
}

li {
  list-style-type: none;
}

.list-item-box {
  height: 50px;
  width: 50px;
  margin: 10px auto;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0, 0);
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.list-item-box:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 15px 5px #ffffff;
  transition: transform 0.3s linear, box-shadow 0.3s linear;
}
.list-item .discord {
  border-radius: 10px;
}

.list-item:first-child:before {
  content: "";
  width: 40px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 0;
  transform: translate(-90%, 0%);
  border-radius: 5px;
}

.list-item:hover:before {
  content: "";
  width: 40px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 0;
  transform: translate(-90%, 0%);
  border-radius: 5px;
}

/* RIGHT SECTION */
.menu-right {
  flex-grow: 1;
  background-color: #1c1d22;
  height: calc(100vh - 10vh -10px);
  border-top-left-radius: 20px;
  overflow: hidden;
}

.top-menu-right {
  min-height: 100px;
  padding: 13px 18px;
}

.bottom-menu-right {
  overflow: auto;
  height: calc(100vh - 10vh - 100px);
  background-color: #1c1d22;
}
.menu-title {
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 5px;
}

.search-icon {
  display: inline-block;
  margin-right: 15px;
  color: white;
  line-height: 20px;
  line-height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #373a43;
  text-align: center;
}

.btn-add-friend {
  width: 300px;
  max-width: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 5px 0;
  background-color: #373a43;
  border-width: 0;
  color: white;
  font-size: 18px;
}
.search-icon:hover > *,
.search-icon:hover,
.btn-add-friend:hover {
  background-color: #a4a4a4;
}

/* RIGHT BOTTOM */

.users-text {
  display: flex;
  background-color: #1c1d22;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 12px;
}

.user {
  padding: 5px 5px 5px 8px;
  margin: 10px 0;
}

.user:nth-child(2) {
  flex: 1 1 0;
}

.user:nth-child(3) {
  align-self: flex-start;
  padding-right: 12px;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.username {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.366);
}

.messaggio,
.user:nth-child(3) {
  color: rgba(255, 255, 255, 0.366);
  font-size: 13px;
}

.users-text:hover .user > span,
.users-text:hover .messaggio,
.users-text:hover .username,
.users-text:hover {
  background-color: #373a43;
  color: white;
}

/* FOOTER */
.menu-foot {
  height: calc(100vh - 90vh - 10px);

  background-color: #2d2d35;
}

.foot-profile {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  min-height: 60px;
  color: white;
  font-size: 13px;
}

.foot-item {
  flex: 1 1 0;
}

.bi-bell-fill,
.bi-houses-fill {
  font-size: 20px;
}

.foot-item:last-child .myphoto {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
