* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  display: flex;
  background-color: #141318;
  overflow: hidden;
}

.menu-left {
  height: calc(100vh - 70px);
  background-color: #141318;
  width: 70px;
}

.menu-right {
  background-color: #1c1d22;
  flex: 1 1 0;
  overflow: auto;
  margin-top: 12px;
  height: calc(100vh - 78px);
  border-top-left-radius: 20px;
}

.menu-foot {
  min-height: 70px;
  background-color: yellow;
}

.scroll {
  background-color: rosybrown;
  overflow-y: auto;
}

.test-img {
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto 0 auto;
  height: 50px;
  width: 50px;
  transform: translateY(0);
}

.list-item:first-child {
  width: 50px;
  height: 50px;
  margin: 20px auto 10px auto;
}

.test-img:hover {
  transform: translateY(-7px);
  box-shadow: 1px 1px 1px 0.7px #ffff;
  transition: transform 0.3s linear, box-shadow 0.3s linear;
  border: 2px white solid;
}

.menu-top {
  min-height: 70px;
  padding: 13px 18px;
}

.menu-title {
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
}

.bi-search {
  height: 20px;
  border-radius: 50%;
  background-color: #373a43;
}

.menu-title {
  margin-bottom: 5px;
}

.search-icon {
  display: inline-block;
  margin-right: 15px;
  color: white;
  line-height: 20px;
  line-height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #373a43;
  text-align: center;
}

.btn-add-friend {
  width: 500px;
  text-align: center;
  border-radius: 20px;
  padding: 5px 0;
  background-color: #373a43;
  border-width: 0;
  color: white;
  font-size: 18px;
}

.search-icon:hover,
.btn-add-friend:hover {
  background-color: #a4a4a4;
}
